
.vs/Bolao.Pinheiros/v15/.suo
.vs/Bolao.Pinheiros/v15/Server/sqlite3/db.lock
.vs/Bolao.Pinheiros/v15/Server/sqlite3/storage.ide
.vs/Bolao.Pinheiros/v15/Server/sqlite3/storage.ide-shm
.vs/Bolao.Pinheiros/v15/Server/sqlite3/storage.ide-wal
Bolao.Pinheiros/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
*.cache
