
.vs/Bolao.Pinheiros/v15/.suo
*.dll
*.pdb
*.dll
*.pdb
.vs/Bolao.Pinheiros/v15/Server/sqlite3/db.lock
.vs/Bolao.Pinheiros/v15/Server/sqlite3/storage.ide
.vs/Bolao.Pinheiros/v15/Server/sqlite3/storage.ide-shm
.vs/Bolao.Pinheiros/v15/Server/sqlite3/storage.ide-wal
*.dll
*.pdb
Bolao.Pinheiros/bin/Bolao.Pinheiros.dll
Bolao.Pinheiros/bin/Bolao.Pinheiros.pdb
Bolao.Pinheiros/obj/Debug/Bolao.Pinheiros.dll
Bolao.Pinheiros/obj/Debug/Bolao.Pinheiros.pdb
Bolao.Pinheiros/bin/Bolao.Pinheiros.dll
Bolao.Pinheiros/bin/Bolao.Pinheiros.pdb
Bolao.Pinheiros/obj/Debug/Bolao.Pinheiros.dll
Bolao.Pinheiros/obj/Debug/Bolao.Pinheiros.pdb
*.dll
*.pdb
Bolao.Pinheiros/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
*.dll
*.pdb
