@using Bolao.Pinheiros.Models
@model Game

<div class="imso_mh__score-sum imso-ani">
    <div class="update-icon"></div>
    @if (Model.events.Any(x => x.eventType.name == Game.GOAL_NAME))
    {
        <div class="imso_gs__gs-cont imso-medium-font imso_gs__gs-cont-ed">
            <div class="imso_gs__tgs imso_gs__left-team">
                @foreach (var homeEvent in Model.events.Where(x => x.competitorId == Model.homeCompetitor.id && x.eventType.name == Game.GOAL_NAME))
                {
                    var homePlayer = Model.GetPlayer(homeEvent.playerId);
                    <div class="imso_gs__gs-r">
                        @(homePlayer != null ? homePlayer.name : Game.GOAL_NAME) - @(homeEvent.gameTimeDisplay)
                    </div>
                }
            </div>
            <div class="imso_gs__sb-cont">
                <img class="imso_gs__icon" src="//ssl.gstatic.com/onebox/sports/soccer_timeline/soccer-ball-retina.png" alt="Gols" data-atf="1">
            </div>
            <div class="imso_gs__tgs imso_gs__right-team">
                @foreach (var awayEvent in Model.events.Where(x => x.competitorId == Model.awayCompetitor.id && x.eventType.name == Game.GOAL_NAME))
                {
                    var awayPlayer = Model.GetPlayer(awayEvent.playerId);
                    <div class="imso_gs__gs-r">@(awayPlayer != null ? awayPlayer.name : Game.GOAL_NAME) - @(awayEvent.gameTimeDisplay)</div>
                }
            </div>
        </div>
    }
</div>