@model Bolao.Pinheiros.Models.Root
@{
    ViewBag.Title = "Bolão";
}

<header>
    <nav>
        <ul style="text-align: center;">
            <p>Data: <input type="text" id="datepicker"></p>
        </ul>
    </nav>
</header>
@(Html.Partial("_Games"))
<script src="./Scripts/bolao.js?@(DateTime.Now.TimeOfDay.Ticks)"></script>